@model IEnumerable<object>

@{
    List<BookstoreIS.ТаблицаКниг> listBooks = Model.ToList()[0] as List<BookstoreIS.ТаблицаКниг>;
    List<string> listAuthors = Model.ToList()[1] as List<string>;
    List<string> listGenres = Model.ToList()[2] as List<string>;
    List<BookstoreIS.ТаблицаЗданий> listBuildings = Model.ToList()[3] as List<BookstoreIS.ТаблицаЗданий>;

    string name = null;
    for (int i = 0; i < listAuthors.Count; i++)
    {
        if (i != listAuthors.Count)
        {
            if (i != listAuthors.Count - 1)
            {
                name += listAuthors[i] + ", ";
            }
            else
            {
                name += listAuthors[i];
            }
        }
    }

    string genre = null;
    for (int i = 0; i < listGenres.Count; i++)
    {
        if (i != listGenres.Count)
        {
            if (i != listGenres.Count - 1)
            {
                genre += listGenres[i] + ", ";
            }
            else
            {
                genre += listGenres[i];
            }
        }
    }
    string ForAuthors = null;
    if (listAuthors.Count > 1)
    {
        ForAuthors = "Авторы:";
    }
    if (listAuthors.Count == 1)
    {
        ForAuthors = "Автор:";
    }

    string ForGenres = null;
    if (listGenres.Count > 1)
    {
        ForGenres = "Жанры:";
    }
    if (listGenres.Count == 1)
    {
        ForGenres = "Жанр:";
    }
}
@{
    ViewBag.Title = "Информация об авторе";
}
@foreach (var item in listBooks)
{
    string title = item.НазваниеКниги; <h2>@title</h2>}

@foreach (var item in listBooks)
{
    <div>
        <h4>Подробная информация</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>ISBN:</dt>
            <dd id="ISBN">
                @Html.DisplayFor(modelItem => item.ISBN)
            </dd>

            <dt>Название книги:</dt>
            <dd>
                @Html.DisplayFor(modelItem => item.НазваниеКниги)
            </dd>

            <dt>@ForAuthors</dt>
            <dd>
                @Html.DisplayFor(modelItem => name)
            </dd>

            <dt>@ForGenres</dt>
            <dd>
                @Html.DisplayFor(modelItem => genre)
            </dd>

            <dt>Год выпуска:</dt>
            <dd>
                @Html.DisplayFor(modelItem => item.ГодВыпуска)
            </dd>

            <dt>Переплет:</dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Переплет)
            </dd>

            <dt>Количество страниц:</dt>
            <dd>
                @Html.DisplayFor(modelItem => item.КоличествоСтраниц)
            </dd>

            <dt>Формат:</dt>
            <dd>
                @Html.DisplayFor(modelItem => item.ФорматКниги)
            </dd>
        </dl>
    </div>

    <div>
        @{
            var base64 = Convert.ToBase64String(item.Обложка);
            var imgsrc = string.Format("data:image/gif;base64, {0}", base64);
        }
        <img src="@imgsrc" style=" max-width: 200px; max-height: 300px" />
    </div>

    <p>
        <hr />
        @if (Session["CurrentAdmin"] == null)
        {
        @Html.ActionLink("Редактировать", "Edit", new { ISBN = item.ISBN })
        }
        @Html.ActionLink("Вернуться к списку книг", "Index")
    </p>
            }

<table class="table">
    <tr>
        <th>Код здания</th>
        <th>Здание</th>
        <th>Город</th>
        <th>Улица</th>
        <th>Номер дома</th>
        <th>Этаж</th>
        <th>Магазин/склад</th>
        <th></th>
    </tr>

    @foreach (var item in listBuildings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.КодЗдания)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.НазваниеЗдания)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Город)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Улица)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.НомерЗдания)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Этаж)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Назначение)
            </td>
            <td>
@if (Session["CurrentAdmin"] != null)
{
                @Html.ActionLink("Редактировать", "Edit", new { id = item.КодЗдания }) 
}
                @Html.ActionLink("Подробнее", "ShowBuildingDetails", new { id = item.КодЗдания }) 
            </td>
        </tr>
    }

</table>
